@import "styles/settings/__settings";

.overHero {
  background-image: url("/images/og/kw-header.svg");
  background-position: center;
  object-fit: cover;
  background-size: cover;
  height: 70vh;

  padding-top: 2.5rem /* 40px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  color: #ffffff;

  @media (min-width: 640px) {
    & {
      padding-top: 3rem /* 48px */;
    }
  }

  @media (min-width: 640px) {
    & {
      padding-top: 3rem /* 48px */;
    }
  }

  @media (min-width: 1024px) {
    & {
      padding-top: 5rem /* 80px */;
    }
  }

  @media (min-width: 1024px) {
    & {
      padding-left: 2rem /* 32px */;
      padding-right: 2rem /* 32px */;
    }
  }

  @media (min-width: 1280px) {
    & {
      padding-top: 7rem /* 112px */;
    }
  }
}

.container {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px auto;

  h1 {
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1524px) {
    h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    p {
      font-size: 0.9rem;
      margin: 0rem 20rem;
    }
  }

  @media (max-width: 1524px) {
    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      margin: 0rem 0rem;
    }

    p {
      font-size: 0.9rem;
      margin: 0rem 3rem;
    }
  }

  @media (max-width: 645px) {
    h1 {
      font-size: 2rem;
      padding: 0rem 0rem;
    }

    p {
      font-size: 0.9rem;
      padding: 0rem 0rem;
    }
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.linksContainer {
  margin-top: 1.25rem /* 20px */;
  display: flex;
  justify-content: space-around;
}

.centerContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.linkLeft {
  a {
    background-color: $color-lime-500;
    color: #fff;
    font-weight: 600;
    line-height: 1.75rem /* 28px */;
    border: 2px solid $color-lime-500;
    border-radius: 0.375rem /* 6px */;
    letter-spacing: 0.1em;
    text-decoration: none;
    &:hover {
      background-color: #fff;
      color: $color-lime-500;
    }

    @media (min-width: 768px) {
      & {
        padding: 0.9rem 2.5rem;
        font-size: 1.125;
      }
    }

    @media (max-width: 768px) {
      & {
        padding: 0.9rem 0.5rem;
        font-size: 0.9rem /* 18px */;
      }
    }
  }
}

.linkRight {
  a {
    background-color: #ffffff;
    color: $color-lime-500;
    font-weight: 600;
    font-size: 1.125rem /* 18px */;
    line-height: 1.75rem /* 28px */;
    border: 2px solid $color-lime-500;
    border-radius: 0.375rem /* 6px */;
    letter-spacing: 0.1em;
    padding: 0.9rem 2.5rem;
    text-decoration: none;
    &:hover {
      background-color: $color-lime-500;
      color: #ffffff;
    }

    @media (min-width: 768px) {
      & {
        padding: 0.9rem 2.5rem;
        font-size: 1.125;
      }
    }

    @media (max-width: 768px) {
      & {
        padding: 0.9rem 0.5rem;
        font-size: 0.9rem /* 18px */;
      }
    }
  }
}
